<% provide :title, t("sign_up") %>
<div class="fix_box register">
  <h1><%= t "sign_up" %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <span class="error_color">
          <%= error_message :name %>
        </span><br>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <span class="error_color">
          <%= error_message :email %>
        </span><br>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <span class="error_color">
          <%= error_message :password %>
        </span><br>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <span class="error_color">
          <%= error_message :password_confirmation %>
        </span>

        <%= f.submit t("create_account"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
