<%= form_for [:admin, @category] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <span class="center">
    <%= f.submit yield(:button_submit), class: "btn btn-primary" %>
  </span>
<% end %>
