<% provide :title, t("edit_user") %>
<div class="row fix_box">
  <h1><%= t("edit_user") %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @user] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <span class="error_color">
        <%= error_message :name %>
      </span><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <span class="error_color">
        <%= error_message :email %>
      </span><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <span class="error_color">
        <%= error_message :password %>
      </span><br>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <span class="error_color">
        <%= error_message :password_confirmation %>
      </span><br>

      <%= f.submit t("submit"), class: "btn btn-primary center" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to t("change"), "http://gravatar.com/emails", target: "_blank" %>
    </div>
  </div>
</div>
